<%@title="Latest Posts @SomeBlog" %>
<h2>Recent Posts:</h2><hr>
<div><% @posts.each do |post| %>
<p>
<b><%=post.author%></b> <span style="font-size:75%">has posted at <%=post.created_at%> (UTC):</span>
</p>
<p style="white-space: pre-wrap;">
<%=post.content%>
</p>
</br>
<a href="/post/<%=post.id%>"> Comments: <%=post.comments.count%></a>
<hr>
<%end%>
</div>