<%@title="#{@post['author']} posted @SomeBlog" %>
<h3>Post details[<%=@post['id']%>]</h3>
<hr>
<b><%=@post['author']%></b> has posted at <%=@post['created_date']%> (UTC):
</br>
</br>
<div>
	<p>
		<%=@post['content']%>
	</p>
	</br>
	<hr>
	<h4>Comments:</h4>
	</br>
	
	<form action="/post/<%=@post['id']%>"method="POST">
		<input name="author" type="text" class="form-control" value="<%=@author%>" placeholder="John Smith">
		</br>
		<textarea name="postContent" class="form-control" rows="3" placeholder="Put your comments here"><%=@content%></textarea>
		</br>
		<button type="submit" class="btn btn-success">Submit</button>
	</form>
<hr>
	<%@comments.each do |comment|%>
		<p>
			<b>
				<%=comment['author']%>
			</b> 
			has commented at <%=comment['created_date']%> (UTC):
			</br>
			</br>
			<%=comment['content']%>
		</p>
		<span style="font-size:75%">
			Comment Id: <%=comment['id']%>
		</span>
		<hr>
	<%end%>
</div>